.container {
  max-width: $website-width;
  padding: 0 1.5rem;
  margin: 0 auto;
}

.baga-icon-container {
  height: 20px;
  display: flex;
  position: relative;
  margin: 1.5rem 0;
  z-index: 999;

  .baga-icon {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & > div {
      height: 2px;
      width: 2rem;
      background-color: $dark-color;
      position: relative;
      flex: none;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transition: transform 1s cubic-bezier(0.075, 0.82, 0.165, 1);

      &::before,
      &::after {
        content: "";
        position: absolute;
        display: block;
        top: -10px;
        left: 0;
        width: 100%;
        height: inherit;
        background-color: inherit;
      }

      &::after {
        top: 10px;
      }
    }
  }

  input {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    z-index: 1;
    opacity: 0;

    &:hover {
      cursor: pointer;
    }
  }

  input:checked + .baga-icon > div {
    transform: rotate(135deg);

    &::after,
    &::before {
      top: 0;
      transform: rotate(90deg);
    }
  }
}

.cards {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  height: auto;
  transition: height;

  .card {
    display: flex;

    p {
      width: 40%;
    }
  }
}

.btn {
  display: inline-block;
  padding: 15px;
  color: $light-color;
  background-color: $dark-color;
  text-decoration: none;
  border-radius: 2px;
  width: auto;

  &-primary {
    background-color: $main-color;
  }

  &-secondary {
    background-color: white;
    border: $almost-white;
    color: $dark-color;

    &:hover {
      background-color: $light-color;
      color: $almost-white;
    }
  }

  &:hover {
    background-color: darken($color: $dark-color, $amount: 8);
  }
}

.thumbnail {
  margin-top: 10px;
  position: relative;
  overflow: hidden;

  &:hover {
    cursor: pointer;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $main-color;
    transform: scale(2) translateX(0) translateY(0) rotate(28deg);
    display: block;
    opacity: 0.8;
    transition: 3s cubic-bezier(0.2, 1, 0.3, 1);
  }

  &:hover::before {
    transform: scale(2) translateX(-75%) translateY(-75%) rotate(28deg);
  }

  hgroup {
    position: absolute;
    top: 30%;
    left: 20%;
    color: white;
    opacity: 1;
    transform: translateY(0);
    transition: 1s ease;
  }

  &:hover hgroup {
    transform: translateY(-100%);
    opacity: 0;
  }
}

// Show a flex container
.show-flex-nav {
  // display: flex !important;
  width: 100% !important;
}

// Show block elements
.show-inline-block {
  display: inline-block !important;
}

// Hide with display None
.hide-display {
  display: none !important;
}
